# =========================
# Python Virtual Environments
# =========================
venv/
.venv/
backend/venv/
backend/.venv/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Flask / SQLAlchemy
# =========================
instance/
*.sqlite3

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store
